
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}FEA APP{% endblock %}</title>
        <!-- Tell the browser to be responsive to screen width -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

        <!-- CSS Personalizado -->
        {% block start_css %}{% endblock %}

        <!-- CSS Template -->
        <link href="{{ app.request.basePath }}/assets/admin-lte/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css" />
        <link href="{{ app.request.basePath }}/assets/admin-lte/dist/css/AdminLTE.min.css" rel="stylesheet" type="text/css" />
        <link href="{{ app.request.basePath }}/assets/admin-lte/dist/css/skins/_all-skins.min.css" rel="stylesheet" type="text/css" />
        <link href="{{ app.request.basePath }}/assets/admin-lte/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />

    </head>
    <body class="sidebar-mini skin-blue fixed">
        <!-- Site wrapper -->
        <div class="wrapper">

            <header class="main-header">
                <!-- Logo -->
                <a href="{{ app.request.basePath }}/" class="logo">
                    <!-- mini logo for sidebar mini 50x50 pixels -->
                    <span class="logo-mini"><b>FEA</b></span>
                    <!-- logo for regular state and mobile devices -->
                    <span class="logo-lg"><b>FEA</b>APP</span>
                </a>
                <!-- Header Navbar: style can be found in header.less -->
                <nav class="navbar navbar-static-top" role="navigation">
                    <!-- Sidebar toggle button-->
                    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">

                            <!-- User Account: style can be found in dropdown.less -->
                            <li class="dropdown user user-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <img src="https://gravatar.com/avatar/{{ app.user.email | lower | md5 }}?s=40" class="user-image" alt="User Image" />
                                    <span class="hidden-xs">{{ app.user.name }}</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <!-- User image -->
                                    <li class="user-header">
                                        <img src="https://gravatar.com/avatar/{{ app.user.email | lower | md5 }}?s=160" class="img-circle" alt="User Image" />
                                        <p>
                                            {{ app.user.name }}
                                        </p>
                                    </li>
                                    <!-- Menu Footer-->
                                    <li class="user-footer">
                                        <div class="pull-left">
                                            <a href="{{ path('user') }}" class="btn btn-default btn-flat">Profile</a>
                                        </div>
                                        <div class="pull-right">
                                            <a href="{{ path('user.logout') }}" class="btn btn-default btn-flat">Sign out</a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <!-- Control Sidebar Toggle Button -->
                            <li>
                                <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>

            <!-- =============================================== -->

            <!-- Left side column. contains the sidebar -->
            <aside class="main-sidebar">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    <!-- Sidebar user panel -->
                    <div class="user-panel">
                        <div class="pull-left image">
                            <img src="https://gravatar.com/avatar/{{ app.user.email | lower | md5 }}?s=160" class="img-circle" alt="User Image" />
                        </div>
                        <div class="pull-left info">
                            <p>{{ app.user.name }}</p>
                        </div>
                    </div>
                    <!-- /.search form -->
                    <!-- sidebar menu: : style can be found in sidebar.less -->
                    <ul class="sidebar-menu">
                        <li class="header">Opções</li>
                        <li><a href="{{ path('noticias') }}"><i class="fa fa-newspaper-o"></i> <span>Notícias</span></a></li>
                        <li><a href="{{ path('eventos') }}"><i class="fa fa-calendar"></i> <span>Eventos</span></a></li>
                        <li><a href="#"><i class="fa fa-comment"></i> <span>Mensagens</span></a></li>
                        <li><a href="{{ path('users') }}"><i class="fa  fa-users"></i> <span>Usuários APP</span></a></li>
                        {% if is_granted('ROLE_ADMIN') %}
                        <li class="header">Usuários</li>
                        <li><a href="{{ path('user.new') }}"><i class="fa  fa-user-plus"></i> <span>Adicionar</span></a></li>
                        <li><a href="{{ path('user.list') }}"><i class="fa  fa-user-secret"></i> <span>Controlar</span></a></li>
                        {% endif %}
                    </ul>
                </section>
                <!-- /.sidebar -->
            </aside>

            <!-- =============================================== -->

            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
             

                <!-- Main content -->
                <section class="content">

                    <!-- Default box -->
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">{{ block('title') }}</h3>

                        </div>
                        <div class="box-body">
                            {% block content %}{% endblock %}
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->

                </section><!-- /.content -->
            </div><!-- /.content-wrapper -->

            <footer class="main-footer">
                <div class="pull-right hidden-xs">
                    <b>Version</b> 1.0
                </div>
                <strong>Copyright &copy; 2015 Trio IME.</strong> All rights reserved.
            </footer>
            
            <!-- Control Sidebar -->
            <aside class="control-sidebar control-sidebar-dark">
                <!-- Create the tabs -->
                <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                    <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
                    
                </ul>
                <!-- Tab panes -->
                <div class="tab-content" >
                    <!-- Home tab content -->
                    <div class="tab-pane active" id="control-sidebar-home-tab">
                        <p>Qualquer aviso de manutenção irá aparecer aqui, portanto fique atento.</p>
                    </div><!-- /.tab-pane -->
                    <!-- Stats tab content -->
                    <!-- Settings tab content -->
                    
                </div>
            </aside><!-- /.control-sidebar -->
            <!-- Add the sidebar's background. This div must be placed
                     immediately after the control sidebar -->
            <div class="control-sidebar-bg"></div>
        </div><!-- ./wrapper -->

        <!-- JS Template -->
        <script src="{{ app.request.basePath }}/assets/admin-lte/plugins/jQuery/jQuery-2.1.4.min.js" type="text/javascript"></script>
        <script src="{{ app.request.basePath }}/assets/admin-lte/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="{{ app.request.basePath }}/assets/admin-lte/plugins/slimScroll/jquery.slimscroll.min.js" type="text/javascript"></script>
        <script src="{{ app.request.basePath }}/assets/admin-lte/plugins/fastclick/fastclick.min.js" type="text/javascript"></script>
        <script src="{{ app.request.basePath }}/assets/admin-lte/dist/js/app.min.js" type="text/javascript"></script>
        <!-- JS Personalizado -->
        {% block closing_scripts %}{% endblock %}

    </body>
</html>
